include /mixins/text-input

mixin userForm
    -
        const submitLabel = attributes.submitLabel ?? 'Send'
        delete attributes.submitLabel
        attributes = {
          ...attributes,
          method: "POST"
        }
    form&attributes(attributes)
        +textInput(type="email", name="email")
        +textInput(type="password", name="password")
        button.border.p-1(type="submit", class="hover:bg-gray-300 hover:cursor-pointer") #{ submitLabel }
